<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/fragments::head}">

<body>
	<nav th:replace="~{fragment/fragments :: navbar}"></nav>
	<div class="container">
		<div class="row row-cols-xs-1 row-cols-sm-2 vh-100 my-5 gap-3">

			<div class="col-sm-12 card bg-white p-0">
				<div class="card-content">
					<div
						class="card-header bg-success text-white p-3 d-flex justify-content-between align-items-center">
						<h4 th:text="|${user.firstName}&apos;s Profile|" class="card-title">User Profile</h4>
						<a data-bs-toggle="modal" href="#user-profile-form" role="button" aria-controls="accountForm"
							class="btn btn-small btn-warning my-3 d-inline-block">Edit
							Profile</a>
					</div>
					<div class="card-body">
						<h5 th:text="|Hello, ${user.firstName}!|" class="card-title h5"></h5>
					</div>
				</div>
			</div>


			<div class="col-8 card bg-white p-0">
				<div class="card-content">
					<div class="card-body border-3 border-bottom border-success">
						<h5 th:text="|${user.firstName}, here is your Activity Log|" class="card-title h5"></h5>
					</div>
					<div class="card-body">
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Account Form -->
	<div class="modal" id="user-profile-form">
		<div class="modal-dialog" aria-labelledby="account-form" aria-hidden="true" role="modal">
			<div class="modal-content">
				<div class="modal-header bg-success text-white p-3">
					<h5 class="modal-title">User Profile Form</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<form th:action="@{/user/registration}" } method="POST">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" class="form-control" id="id" th:field="${user.id}">
						</div>
						<div class="form-group">
							<label for="first-name">First Name</label>
							<input type="text" class="form-control" id="first-name" placeholder="John"
								th:field="${user.firstName}">
						</div>
						<div class="form-group">
							<label for="last-name">Last Name</label>
							<input type="text" class="form-control" id="last-name" placeholder="Doe"
								th:field="${user.lastName}">
						</div>
						<div class="form-group">
							<label for="email-address">Email Address</label>
							<input type="email" class="form-control" id="email-address" placeholder="johndoe@gmail.com"
								th:field="${user.emailAddress}">
						</div>
						<div class="form-group">
							<label for="user-name">User Name</label>
							<input type="text" class="form-control" id="user-name" placeholder="John"
								th:field="${user.username}">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="***********"
								th:field="${user.password}">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary text-uppercase">Save Changes</button>
						<button type="button" class="btn btn-secondary text-uppercase"
							data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Account Form -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>